IMAGE_PREFIX=ghcr.io/dh24pm-cnpm-nhom02/postgraduate-academic-management-system
IMAGE_TAG=main

# tuwj ddawt, khuyeesn khicsh ddooir
MARIADB_ROOT_PASSWORD=your_root_password 
# tuwj ddawt, khuyeesn khicsh ddooir
MARIADB_USER=pams_user
# tuwj ddawt, khuyeesn khicsh ddooir
MARIADB_PASSWORD=your_password